.Calendar {
    header {
        width: 100%;
        background-color: red;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1vh;
        box-sizing: border-box;
        div {
            p {
                margin: 0;
            }
            color: white;
            font-weight: 600;
            .year {
                font-size: 0.8em;
            }
            .month {
                font-size: 1.5em;
            }
        }
    }

    .content {
        .arDay {
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 0;
            .day {
                width: 14.2%;
                text-align: center;
                font-weight: 500;
            }
            :first-child {
                color: red;
            }
            :last-child {
                color: blue;
            }
        }
        .arDate {
            width: 100%;
            list-style-type: none;
            display: flex;
            padding: 0;
            flex-wrap: wrap;
            .date {
                width: 14.2%;
                height: 16vh;
                font-weight: 500;
                text-align: left;
                padding: 1% 2%;
                box-sizing: border-box;
                border: 1px solid #aaa;
                .today {
                    width: 3vw;
                    height: 20px;
                    display: inline-block;
                    background-color: red;
                    color: white;
                    border-radius: 10px;
                    font-weight: 600;
                    margin-left: -1vw;
                    text-align: center;
                }

                .schedules {
                    list-style: none;
                    padding: 0;
                }
            }
        }
    }
    .addSchedule {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: rgba(50, 50, 50, 0.7);
        align-items: center;
        justify-content: center;

        .addScheduleForm {
            position: relative;
            width: 40vw;
            height: 80vh;
            background-color: white;
            border-radius: 30px;

            .btn-close {
                position: absolute;
                right: 1vw;
                top: 1vw;
            }

            div {
                height: 60vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                .btn-wrap {
                    display: block;
                }
            }
        }
    }
}
